body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f6f8fd;
}

/* Header */

header {
  background-color: red;
  color: #fff;
  padding: 10px;
}

.heading {
  background-color: #99d4ec;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navigation {
  display: flex;
  justify-content: center;
  list-style: none;
}

.list-item a {
  text-decoration: none;
  padding: 0 8px;
  color: #3f3f46;
}

/* Main */

main {
  flex: 1;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 70px;
}

/* Aside */

aside {
  flex: 0 0 20%;
  background-color: #ccc;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  border-radius: 10px solid #b2dcee;
}

.images {
  position: fixed;
  width: 200px;
  height: 100vh;
  z-index: 1;
}

.image {
  width: 80%;
  border-radius: 50%;
  display: flex;
  margin: 0 auto;
}

.name {
  color: #34364a;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}
/* Article */

article {
  flex: 1;
  padding: 10px;
  position: relative;
  margin-left: 250px;
}

.main-paragraph {
  text-align: start;
  text-indent: 0.5in;
}

.title {
  background-color: #b2dcee;
  border-radius: 10px;
  color: #3f3f46;
}

/* Footer  */

footer {
  background-color: #b2dcee;
  color: #3f3f46;
  padding: 10px;
  z-index: 1;
}

footer p {
  text-align: center;
  margin: 0 auto;
}
